#manage_seats{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#TextField{
    margin: 0 20px;
}

#insert_invitees p{
    width: 600px;
}
hr{
    margin-top: 30px;;
}
#insert_invitees Button{
margin-top: 40px;
}

#check{
    width: 250px;
    height: 500px;
    background-color: rebeccapurple;
    align-self: baseline;
}