#manage_seats{
    display: grid;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

#TextField{
    margin: 0 20px;
}

/* #insert_invitees p{
    width: 600px;
} THIS ROW DOES NOTHING*/

hr{
    margin-bottom: 30px;
    width: 95%;
}
#insert_invitees{
margin-top: 45px;
}

#check{
    width: 250px;
    height: 500px;
    background-color: rebeccapurple;
    align-self: baseline;
}

#inv-btn{
    margin: 20px;
}