.attractions {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(auto-fill, minmax(200px, 3fr));
    grid-gap: 20px;
}
.attraction-title {
    text-transform: uppercase;
    text-align: center;
}
.attraction-title{
    margin-top: 70px;
}
.favorite{
    display: grid;
    grid-gap: 20px;
    margin: 25px;
}
.favoritesCategory{  
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    grid-gap: 30px;
}
.attraction-info {
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 20px;
  }
  .attraction-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
  }
  .MuiCardMedia-root{
      width: 100%;
  }
  .categoryName{
      font-size: 3vw;
  }
  @media only screen and (max-width: 600px) {
    .categoryName{
        font-size: 10vw;
    }
    .attraction-title {
        font-size: 15vw;
      }
  }

  body{
    padding-top: 3em;
  }
  