.attractions {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(auto-fit, minmax(200px, 3fr));
    grid-gap: 20px;
}
.attraction-title {
    text-transform: uppercase;
    text-align: center;
    
}
.attraction-title{
    margin-top: 70px;
}
.favorites{
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    margin-left: 25px;
    margin-right: 25px;
    grid-gap: 25px;
    width: 100vw;
}
.favoritesCategory{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;

}