.budget{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
#booked_container{
    display: grid;
    width: 100vw;
    grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    justify-content: center;
}
