.bookedAttraction {
    display: grid;
    grid-gap: 10px;
    width: 75%;
}

#Paper {
    width: 90%;
    height: 80%;
    margin-left: 5px;
    background-color: rgba(22, 1, 1, 0.0);
    color: white;
    box-shadow: none;
}
#cardMedia{
    width: 75%;
    margin-left: 5px;
    border-radius: 25px ;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

p {
    text-align-last: left;
}

#detail-box {
    /* display: grid; */
    /* grid-template-columns: 50% 50%; */
    text-align: justify;
    bottom: 1px;
    left: 0;
    position: relative;
}

#col1{
    /* position: absolute; */
    top: 0;
    left: 0;
}

#col2{
    position: absolute;
    top: 0;
    right: 0;
}
@media only screen and (max-width: 768px) {
    #Paper {
        width: 75%;
        margin-top: 160px;
    }
}