.bookedAttraction{
    display: grid;

    /* grid-gap: 10px; */
    /* margin: 5px 5px 5px 5px; */
    border: none;

}
#Paper{
    display: grid;
    width: 90%;
}
/* .cardMedia{
    width: 20px;
} */