.bookedAttraction {
    display: grid;
    grid-gap: 10px;
    border: none;
    align-items: left;
    width: 75%;
}

#Paper {
    width: 75%;
    margin-left: 5px;
    border-radius: 3%;
    background-color: rgba(22, 1, 1, 0.8);
    color: white
}

p {
    text-align-last: left;
}

#detail-box {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: justify;
}

#col1 {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    #Paper {
        width: 75%;
        margin-top: 160px;
    }
}