#profile-container {
    text-align: center;
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
}
.sidePic{
    display: grid;

}
.sideForm{
    /* display: grid; */
}
#groomAndBride{
    height: 100px;
     opacity: 0.5;
}
