#profile-container {
    text-align: center;
    display: grid;
    position: relative;
    margin-top: 25px;
}
.sidePic{
    display: grid;

}
.upperText{
    text-align: center;
}
#groomAndBride{
    height: 100px;
     opacity: 0.5;
}
body{
    overflow: hidden;

}
