.attractions {
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
}

.attraction-title {
    text-transform: uppercase;
}

.close {
    justify-self: start;
}

.attraction-info {
    display: grid;
    justify-items: center;
    text-align: center;
}