.attractions {
  display: grid;
  overflow: -moz-hidden-unscrollable;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 100px;
  margin: 20px 20px 20px 20px;
 
}

.attraction-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3vw;
}

.close {
  justify-self: start;
}

.attraction-info {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 20px;
}
.attraction{
  width: 100%;
  max-width: 250px;
}

.submit-price {
    justify-items: bottom;
}

@media only screen and (max-width: 600px) {
  .attractions {
    display: grid;
    overflow: -moz-hidden-unscrollable;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 100px;
    margin: 20px 20px 20px 20px;
  }
}
.MuiDrawer{
  top: 200px;
}