.Register {
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    padding: 10px;
    text-align: center;
}

.user_box Button{
    margin-top: 30px;
}
.TextField {
    margin: 0 10px;
}
.WeddingInputs {
    margin-top: 20px;
}

.Location {
	margin: 0;
	width: 220px;
	height: 53px;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.3);
}
