.user_box{
    background-color: #fff;
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}

.user_box Button{
    margin-top: 30px;
}
#TextField{
    margin: 0 10px;
}
.inputs_section{
    margin-top: 20px;
}

#register_link{
    font-size: 16px;
    color: cornflowerblue;
}

.login-bottom {
    display: grid;
    justify-self: center;
}

.create-account {
    justify-self: center;
}
