.App {
  text-align: center;

}

a {
  text-decoration: none;
  color: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#navbar{
  width: 100%;
  height: 100px;
  background-color: #d6d6d6;
  position: relative;
  top:0;
}

#autoCompleteField{
  color:red;
}
#sideNav{
  text-align: start;
  /* left:0 */
}

input{
  height: 30px;
  width:200px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 10px;
  margin: 8px 30px;
}

select{
  height: 30px;
  width:200px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 10px;
  margin: 8px 30px;
}

.smallIMG{
  width: 200px;
  height: 200px;
}
.bookedAttraction{
  border: 1px solid black;
  border-radius: 10px;
}

/* Yanivs needs to refactor ! */
#Paper{
  width:1000px;
  margin: 50px auto;
  text-align: center;
  }
  #cardMedia{
    margin: 20px auto;
  }