.bookedAttraction {
    display: grid;
    grid-gap: 10px;
    width: 66%;
}

#Paper {
    width: 90%;
    height: 80%;
    margin-left: 5px;
    background-color: rgba(22, 1, 1, 0.0);
    color: white;
    box-shadow: none;
}

#cardMedia {
    width: 66%;
    margin-left: 6%;
    border-radius: 5px;
    color: white;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
    text-align-last: left;
    font-size: 15px;
}

#detail-box {
    text-align: justify;
    bottom: 1px;
    left: 0;
    position: relative;
    background-color: rgb(22,0,0, 0.5);
    border-radius: 5px;
    width: 15vw;
}
.paper-title {
    margin: 0;
}

#col1 {
    top: 0;
    left: 0;
}

#col2 {
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 768px) {
    #Paper {
        width: 75%;
        margin-top: 160px;
    }
}